.portfolio__lists {
  background-color: black;
  padding: 70px 0;
}

.portfolio__lists-cont {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.portfolio__lists-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3.8rem;
  padding: 25px 24px;
  border-radius: 20px;
  background-color: transparent;
}

.portfolio__lists-item:hover {
  background-color: #141414;
}

.portfolio__lists-item-right {
  display: grid;
  gap: 2rem;
}

.portfolio__list-result {
  display: flex;
  align-items: stretch;
  color: white;
}

.portfolio__list-result-item {
  padding-right: 30px;
  margin-right: 40px;
  border-right: 1px solid #b3b3b3;
}

.portfolio__list-result-item h2 {
  display: block;
  font-size: 20px;
  line-height: 33px;
  font-weight: 900;
}

.portfolio__list-result-item p {
  color: #fff;
  font-size: 11px;
  line-height: 16.5px;
}

.portfolio__lists-item-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 375px;
  color: white;
}

.portfolio__list-result-item:last-child {
  padding-right: 0;
  margin-right: 0;
  border: none;
}